*, body {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    margin: 20px 10px;
    justify-content: end;
}

.nav span {
    margin-left: 20px;
    font-size: 24px;
}